
img {
    width: 400px;
    border: 2px; color:
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 3rem;
    text-align: center;
}

body {
    background-image: url('../assets/sparkles.gif');
}